@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Poppins:wght@600;800&display=swap');

.container {
  display: flex;
  flex-direction: column;
  border-radius: 2%;
  width: 375px;
  height: 100vh;
  background-color: black;
}
.icon { height: 70px; }

.navigation {
  display: flex;
  justify-content: space-around;
  background-color: rgb(34, 33, 33);
}

.menu {
  height: 30px;
  display: flex;
  align-self: center;
  opacity: 0.6;
}

.name {
  margin-top: 20%;
  color: orange;
  font-size: 46px;
  width: 70%;
  height: 100px;
  font-family: 'Crete Round', serif;
  font-weight: lighter;
  margin-bottom: 5%;
}

.title {
  font-size: 20px;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.profile {
  font-family: 'Poppins', sans-serif;
  color: white;
  display: flex;
  width: 90%;
  height: 126px;
  font-size: 16px;
  font-weight: bold;
}

p {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.name,
.title,
.profile {
  padding-left: 5%;
  margin-bottom: 5%;
}

.links {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin-left: 15%;
}

.image {
  width: 50%;
  margin-top: -20%;
  margin-left: auto;
}
